body {
  margin: 0;
}

html {
  background-color: #f1f6fb;
  font-family: "Montserrat", sans-serif;
}

.container_all{
  background-color: #f1f6fb;
}

.logo {
  height: 35px;
  width: 198px;
  margin-top: 1.2%;
}

.header_navigation {
  background-color: #ffffff;
  height: 52px;
}

.banner_navigation {
  background-color: #1d5297;
  height: 469px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.banner_navigation h1.title {
  letter-spacing: 0px;
  font-size: 30px;
  font-weight: bold;
  max-width: 721px;
  margin: 0 auto;

  text-align: center;
  font: normal normal bold 30px/45px Montserrat;
  color: #ffffff;
  opacity: 1;
}

.banner_navigation .sub_title {
  color: #b9d0ef;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 116px;
}

.banner_navigation p {
  color: #b9d0ef;
  font: normal normal normal 16px/22px Montserrat;
  letter-spacing: 0px;
}

.items_banner {
  font-family: "Montserrat", sans-serif;
  max-width: 721px;
  margin:34px auto;
}

.item_banner span:last-child{
  margin-left: 17px;
}

.check {
  height: 15.77px;
  width: 15.77px;
  position: relative;
  top: 0px;
  right: 5px;
}

.content_container {
  border: 1px solid #b9d0ef;
  min-height: 600px;
  margin-bottom: 55px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.card_body {
  width: 331px;
  height: 668px;
  margin: 75px auto;
  background-color: #ffffff;
  border-top-width: 14px;
  border-top-color: #FF6A17;
  border-top-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: #FF6A17;
  border-bottom-style: solid;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card_content {
  display: flex;
  flex-direction: column;
}

.plan {
  width: 39px;
  height: 42px;
}

.card_item {
  border-bottom-color: #DFECFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.card_item h2 {
  color: #1D5297;
  font-size: 26px;
  font-weight: bold;
}

.btn_buy{
  border-radius: 26px;
  color: #ffffff;
  background-color: #FF6A17;
  padding:10px 16px 10px 16px;
  border:none;
  font-weight: 600;
  font-size: 22px;
  width: 279px;
  outline:none;
}
.btn_buy:focus {
  outline:none;
}

.card_item ul {
  list-style: none;
}