body {
  margin: 0;
  background-color: #f1f6fb !important;
  font-family: 'Montserrat', sans-serif !important;
}

.container_all {
  background-color: #f1f6fb;
}

 .loader {
   margin: 45px auto;
 }

.logo {
  height: 35px;
  width: 198px;
  margin-top: 1.2%;
}

.header_navigation {
  background-color: #ffffff;
  height: 52px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.banner_navigation {
  background-color: #1d5297;
  height: 469px;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

.banner_navigation h1.title {
  letter-spacing: 0px;
  font-size: 30px;
  font-weight: bold;
  max-width: 721px;
  margin: 0 auto;

  text-align: center;
  font: normal normal bold 30px/45px Montserrat;
  color: #ffffff;
  opacity: 1;
}

.banner_navigation .sub_title {
  color: #b9d0ef;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 116px;
}

.banner_navigation p {
  color: #b9d0ef;
  font: normal normal normal 16px/22px Montserrat;
  letter-spacing: 0px;
}

.items_banner {
  font-family: 'Montserrat', sans-serif;
  max-width: 721px;
  margin: 34px auto;
}

.item_banner span:last-child {
  margin-left: 17px;
}

.check {
  height: 15.77px;
  width: 15.77px;
  position: relative;
  top: 0px;
  right: 5px;
}

.content_container {
  min-height: 600px;
  margin-bottom: 55px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.payment_choose {
  color: #1d5297;
  font-size: 14px;
  text-align: center;
  padding-top: 36px;
}

.box_choose {
  color: #16437e;
  font-size: 16px;
  font-weight: 400;
  width: 322px;
  margin: 7px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #4480c570;
  border: 1px solid #4480c5;
  border-radius: 21px;
}

.box_item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.box_item_checked {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #4480c5 0% 0% no-repeat padding-box;
  border-radius: 21px;
  color: #ffffff;
  font-weight: bold;
}

.card_body {
  width: 351px;
  min-height: 669px;
  height: auto;
  margin: 75px auto;
  background-color: #ffffff;
  border-top-width: 14px;
  border-top-color: #ff6a17;
  border-top-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: #ff6a17;
  border-bottom-style: solid;
  border-radius: 4px;
}

.card_content {
  display: flex;
  flex-direction: column;
}

.plan {
  width: 39px;
  height: 42px;
  padding-bottom: 8px;
}

.card_item {
  border-bottom-color: #dfecff;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  width: 351px;
  min-height: 133px;
  height: auto;
}

.card_item:last-child {
  border: none;
}

.card_item h2 {
  color: #1d5297;
  font-size: 26px;
  font-weight: 600;
}

.card_item_content {
  margin: 10px auto;
  padding: 47px;
  display: block;
  text-align: center;
  padding-bottom: 27px;
}

.item_domain {
  font-weight: bold;
  font-size: 15px;
  margin-top: 36px;
}

.info {
  width: 15px;
  height: 15px;
}

.item_discount {
  font-size: 14px;
  color: #1d5297;
  font-weight: 400;
}

.item_phrase_discount {
  vertical-align: middle;
}

.item_badge {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background: #51c99c 0% 0% no-repeat padding-box;
  border-radius: 224px;
  padding: 4px;
  position: relative;
  left: 4px;
}

.item_values {
  font-size: 13px;
  color: #333333;
}

.item_value_old {
  text-decoration: line-through;
}

.item_value_new {
  font-weight: bold;
}

.item_value_monthly {
  color: #1d5297;
  font-size: 35px;
  font-weight: bold;
}

.item_monthly {
  color: #1d5297;
  font-size: 20px;
}

.card_item_list {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 27px;
  font-size: 16px;
  color: #333333;
}

.btn_buy {
  border-radius: 26px;
  color: #ffffff;
  background-color: #ff6a17;
  padding: 10px 16px 10px 16px;
  border: none;
  font-weight: 600;
  font-size: 22px;
  width: 279px;
  outline: none;
}
.btn_buy:focus {
  outline: none;
}

.card_item ul {
  list-style: none;
}

.card_item ul li {
  line-height: 1.5;
  font-weight: 400;
}

li.list_underline strong {
  text-decoration: underline;
}
